.horizontal-menu .bottom-navbar{
    background: #3584e4 !important;
}
.wizard-card .moving-tab{
    background-color: #3584e4 !important;
}
.fresh-table.toolbar-color-orange .fixed-table-toolbar{
    background: #3584e4 !important;
}
.fresh-table .bootstrap-table .table > thead > tr > th{
    color: #3584e4 !important;
}
.fresh-table a:hover, .fresh-table a:focus{
    color: #3584e4 !important;
}
.text-orange{
    color: #3584e4 !important;
}